swig/perl/samples/catalog.dtd

<!ELEMENT  Catalog ANY >

<!ELEMENT Map EMPTY>
<!ATTLIST Map
  PublicId CDATA #REQUIRED
  HRef CDATA #REQUIRED>

<!ELEMENT Remap EMPTY>
<!ATTLIST Remap
  SystemId CDATA #REQUIRED
  HRef CDATA #REQUIRED>

<!ELEMENT Delegate EMPTY>
<!ATTLIST Delegate
  PublicId CDATA #REQUIRED
  HRef CDATA #REQUIRED>

<!ELEMENT Extend EMPTY>
<!ATTLIST Extend
  HRef CDATA #REQUIRED>

<!ELEMENT Base EMPTY>
<!ATTLIST Base
  HRef CDATA #REQUIRED>

